.mobile-header-container {
    width: 100%;
    min-height: 100px;
    // background-color: brown;
}

.mobile-header {
    @include flexCenter();

    width: 100%;
    height: 100%;
    flex-direction: column;
    // background-color: brown;
    .top-header {
        width: 100%;
        height: 80px;
        // min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        .brand-logo {
            @include flexCenter();

            width: 10%;
            height: 100%;
            margin: 0 20px;
            a {
                text-decoration: none;
                color: inherit;
                outline: none;
            }
            h1 {
                margin-left: 20px;
                font-size: 25px;
            }   
        }
        .right-center {
            @include flexCenter();

            width: auto;
            height: 100%;
            a {
                @include flexCenter();

                outline: none;
                text-decoration: none;
                color: inherit;
                flex-direction: column;
                &:hover {
                    color: $mainColor;
                }
            }
            .user-login-center {
                @include flexCenter();

                margin-right: 20px;
                height: 100%;
                flex-direction: column;
                svg {
                    font-size: 20px;
                    cursor: pointer;
                }
                p {
                    margin: 0;
                    font-size: 10px;
                }
            }
            .user-register-center {
                @include flexCenter();

                margin-right: 20px;
                height: 100%;
                svg {
                    font-size: 20px;
                    cursor: pointer;
                }
                p {
                    margin: 0;
                    font-size: 10px;
                }
            }
            .cart-center {
                @include flexCenter();

                margin-right: 20px;
                height: 100%;
                svg {
                    font-size: 20px;
                    cursor: pointer;
                }
                p {
                    margin: 0;
                    font-size: 10px;
                }
            }
            .user-nickname-center {
                @include flexCenter();

                height: 100%;
                flex-direction: column;
                margin-right: 20px;
                margin-left: 0;
                h1 {
                    margin: 0;
                    font-size: 12px;
                }
                p {
                    margin: 0;
                    font-size: 12px;
                }
            }
        }
    }
    .bottom-mobile-menu {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        svg {
            font-size: 30px;
            margin: 10px 20px;
            cursor: pointer;
            &:hover {
                color: $mainColor;
            }
        }
    }
}

.mobile-side-menu {
    // @include flexCenter();

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    .mobile-side-dark {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.397);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1101;
    }
    .mobile-side-menu-light {
        @include flexCenter();

        width: 60%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1102;
        background-color: white;
        flex-direction: column;
        animation: sideMenuTransform .3s linear;
        .mobile-side-menu-top-close {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            svg {
                font-size: 30px;
                margin: 10px 20px;
                cursor: pointer;
                &:hover {
                    color: $mainColor;
                }
            }
        }
        nav {
            @include flexCenter();

            width: 100%;
            height: 100%;
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                a {
                    @include flexCenter();

                    width: 100%;
                    outline: none;
                    text-decoration: none;
                    transition: all .2s linear;
                    margin: 20px 0;
                    li {
                        height: 100%;
                        font-size: 16px;
                        color: black;
                        font-weight: bold;
                        user-select: none;
                        text-align: center;
                        &:hover {
                            color: $mainColor;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 1161px) {
    .mobile-header-container {
        display: none;
    }
}